*{
    margin: 0;
    padding: 0;
}
a{
    color: rgb(231, 192, 192);
    text-decoration: none;
    transition: 0.3s
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    height: 12vh;
    background:#23232e;
}
main{
    background: url("bg.jpg") no-repeat center center;
    background-size: cover ;
    height: 92vh;
}
.lista-navegacao{
    list-style: none;
    display: flex;
}
.lista-navegacao li {
    letter-spacing: 3px;
    margin-left: 32px;
}